.quote .row {
  padding: 5px;
}
.quote .col-sm-2 {
  text-align: center;
}

.quote h2 {
  font-size: 2em;
  color: #c7c7c7;
}
.quote .card {
  margin-top: 10px;
}

.nav-tabs {
  margin-top: 5px;
}
